*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lora', serif;
}

.header__back {
	background-image: url('../img/altfid-background.png');
	background-position-x: 60%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header__container {
	height: 100%;
	padding: 5%;
	color: white;
	text-shadow: 1px 1px 5px black;
}

.header__logo {
	width: 200px;
}

.header__menu {
	overflow: hidden;
	margin: 5% 0;
	padding: 5% 0;
	border-top: 0.5px solid white;
	border-bottom: 0.5px solid white;
}

.header__menu ul {
	list-style-type: none;
}

.header__menu-item {
	float: left;
	margin-right: 5%;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: white;
}

.header__menu li a:focus {
	color: #FF5005;
}

.header__title {
	margin: 5% 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
}

.header__text {
	margin: 5% 0 5% 0;
	font-size: 0.9em;
}

.header__button {
	margin: 5% 0;
	padding: 4% 7% 4% 7%;
	border: none;
	border-radius: 20px;
	box-shadow: 1px 1px 5px black;
	background: linear-gradient(to bottom, #FFAC6F, #FF5005);
	color: white;
	font-family: 'Arial', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 0.5em;
}

/*------------TABLET-----------*/


@media only screen and (min-width: 480px) {

	.header__back {
		background-position-x: 70%;
	}
	
	.header__menu {
		padding: 2.5% 0;
	}

	.header__title {
		font-size: 2.5em;
	}

	.header__button {
		padding: 2.5% 6% 2.5% 6%;
		font-size: 1em;
	}

}

/*------------DESKTOP-----------*/

@media only screen and (min-width: 768px) {

	.header__back {
		background-position-x: 85%;
	}

	.header__top {
		overflow: hidden;
	}

	.header__logo {
		float: left;
	}

	.header__menu {
		float: left;
		width: 60%;
		margin-left: 7%;
		border: none;
	}

	.header__menu li {
		float: left;
		width: 25%;
	}

	.header__title {
		font-size: 3em;
	}

	.header__button {
		margin: 3% 0;
		padding: 1.5% 5% 1.5% 5%;
	}

}