* {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 10%;
    display: inline-flex;
}

.nav__wire1 {
    width: 20%;
    height: auto;
    padding: 15px 0 0 15px;
}

.nav__wire1 div {
    width: 50%;
    height: 10%;
    background-color: black;
    margin: 6px 0;
}

.userbutton {
    display: none;
}

.nav__wire2 {
    width: 60%;
    height: auto;
    padding: 15px 25% 0 25%;

}

.hexagon {
    width: 50px;
    height: auto;

}

.nav__wire3 {
    width: 20%;
    height: auto;
    padding: 15px 0 0 15px;
}

.cart_icon {
    width: 40px;
    height: auto;
}

@media screen and (min-width: 480px) {

.nav__wire1 {
    display: none;
}

.userbutton{
    width: 20%;
    display: inline-block;
}

.usericon {
    max-width: 30px;
    height: auto;
    margin: 15px 0 0 15px;
}

.hexagon {
    max-width: 50px;
    height: auto;
}

.cart_icon {
    width: 40px;
    height: auto;
    position: absolute;
    right: 20px; 
}

.horizontalmenu {
    width: 80%;
    height: 10%;
    margin:0 10%;
}

.nav__center {
    width: 100%;
    padding-left: 4px; 
}

.nav__center div {
    width: 15%;
    margin-top: 5%; 
    margin-right: calc(20% / 5 );
    height: 7%;
    margin-left: -4px;
    border-radius: 5px;
    background-color: gray;
    display: inline-block;
}

.nav__center div:first-child{
    margin-left: 4%;
}

.nav__wire3 {
    width: 20%;
    height: auto;
    position: relative;
}
