* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav__wire {
    width: 100%;
    height: auto;
}

.nav__wire div {
    margin-left: 5%;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.hexagon {
    width: 20%;
    height: auto;
}

.cart_icon {
    width: 20%;
    height: auto;
}