* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: auto;
}

.barra {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
